### enhancement to the main notebook, analyzing only beneficiaries that are hospice candidates ###

In [35]:
import glob
%matplotlib inline
import sys
print(sys.version)
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)
import matplotlib.pyplot as plt

3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]
1.16.2
0.24.2

In [36]:
def df_write_csv(df, path):
    
    df.to_csv(path_or_buf = path, index=False)

In [37]:
bene_df = pd.read_csv("/Users/nalinivineetha/Documents/MIDS/W200Python/PythonRoughWork/Project_2/files/beneficiary/bene_cohort.csv")
bene_df.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,BENE_ESRD_IND,SP_STATE_CODE,BENE_COUNTY_CD,BENE_HI_CVRAGE_TOT_MONS,BENE_SMI_CVRAGE_TOT_MONS,...,SP_STRKETIA,MEDREIMB_IP,BENRES_IP,PPPYMT_IP,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,MEDREIMB_CAR,BENRES_CAR,PPPYMT_CAR
0,000102649ED5601B,1931-10-01,NaN,2,1,0,49,290,12,12,...,1,0.0,0.0,0.0,360.0,90.0,0.0,860.0,170.0,0.0
1,0002278C944E240A,1936-09-01,NaN,2,1,Y,34,250,12,12,...,2,0.0,0.0,0.0,2590.0,1530.0,0.0,5000.0,1230.0,0.0
2,000330E625C93700,1933-09-01,NaN,2,1,0,4,420,12,12,...,2,0.0,0.0,0.0,0.0,0.0,0.0,270.0,150.0,0.0
3,000374D5E110EDA6,1936-08-01,NaN,2,1,0,5,90,12,12,...,2,0.0,0.0,0.0,60.0,30.0,0.0,1090.0,360.0,0.0
4,0003950E4B4FEC8D,1940-11-01,NaN,2,2,0,19,420,12,12,...,2,0.0,0.0,0.0,3690.0,420.0,0.0,3590.0,960.0,0.0

In [38]:
bene_df['BENE_COUNT_OCCURENCE'] = 1
bene_df['BENE_HOSPICE_CANDIDATE'] = np.where((bene_df['SP_ALZHDMTA'] == 1)
                                 |(bene_df['SP_CHF'] == 1)
                                 |(bene_df['SP_CHRNKIDN'] == 1)
                                 |(bene_df['SP_CNCR'] == 1)
                                 |(bene_df['SP_COPD'] == 1)
                                 |(bene_df['SP_ISCHMCHT'] == 1)
                                 |(bene_df['SP_STRKETIA'] == 1)
                                 ,1,0)

bene_df["BENE_BIRTH_DT"] = pd.to_datetime(bene_df["BENE_BIRTH_DT"], format="%Y-%m-%d")
bene_df["BENE_DEATH_DT"] = pd.to_datetime(bene_df["BENE_DEATH_DT"], format="%Y-%m-%d")

bene_df_hospice = bene_df[bene_df.BENE_HOSPICE_CANDIDATE == 1]
bene_df_hospice = bene_df_hospice[(bene_df_hospice.BENE_HI_CVRAGE_TOT_MONS == 12) & (bene_df_hospice.BENE_SMI_CVRAGE_TOT_MONS == 12)]

In [39]:
bene_df_hospice.dtypes

DESYNPUF_ID                         object
BENE_BIRTH_DT               datetime64[ns]
BENE_DEATH_DT               datetime64[ns]
BENE_SEX_IDENT_CD                    int64
BENE_RACE_CD                         int64
BENE_ESRD_IND                       object
SP_STATE_CODE                        int64
BENE_COUNTY_CD                       int64
BENE_HI_CVRAGE_TOT_MONS              int64
BENE_SMI_CVRAGE_TOT_MONS             int64
BENE_HMO_CVRAGE_TOT_MONS             int64
PLAN_CVRG_MOS_NUM                    int64
SP_ALZHDMTA                          int64
SP_CHF                               int64
SP_CHRNKIDN                          int64
SP_CNCR                              int64
SP_COPD                              int64
SP_DEPRESSN                          int64
SP_DIABETES                          int64
SP_ISCHMCHT                          int64
SP_OSTEOPRS                          int64
SP_RA_OA                             int64
SP_STRKETIA                          int64
MEDREIMB_IP                        float64
BENRES_IP                          float64
PPPYMT_IP                          float64
MEDREIMB_OP                        float64
BENRES_OP                          float64
PPPYMT_OP                          float64
MEDREIMB_CAR                       float64
BENRES_CAR                         float64
PPPYMT_CAR                         float64
BENE_COUNT_OCCURENCE                 int64
BENE_HOSPICE_CANDIDATE               int64
dtype: object

In [40]:
bene_hospice_aggr = (bene_df_hospice.groupby('DESYNPUF_ID').agg(
    {
     'BENE_BIRTH_DT':'max',
     'BENE_DEATH_DT':'max',
     'BENE_SEX_IDENT_CD':'max',
     'BENE_RACE_CD': 'max',
     'SP_STATE_CODE': 'max',
     'BENE_COUNTY_CD': 'max',
     'BENE_HI_CVRAGE_TOT_MONS':'max',
     'BENE_SMI_CVRAGE_TOT_MONS':'max',
     'BENE_COUNT_OCCURENCE':'sum'
    }
    )
             .reset_index()
             .rename(columns={'BENE_BIRTH_DT':'BENE_BIRTH_DT_max',
                              'BENE_SEX_IDENT_CD':'BENE_SEX_IDENT_CD_max',
                              'BENE_RACE_CD': 'BENE_RACE_CD_max',
                              'SP_STATE_CODE': 'SP_STATE_CODE_max',
                              'BENE_HI_CVRAGE_TOT_MONS':'BENE_HI_CVRAGE_TOT_MONS_max',
                              'BENE_SMI_CVRAGE_TOT_MONS':'BENE_SMI_CVRAGE_TOT_MONS_max',
                              'BENE_COUNTY_CD':'BENE_COUNTY_CD_max'
                             }))

In [41]:
#get carrier, inpatient and outpatient aggregates 
car_aggr = pd.read_csv("/Users/nalinivineetha/Documents/MIDS/W200Python/PythonRoughWork/Project_2/files/car_cohort_aggr.csv")
inp_aggr = pd.read_csv("/Users/nalinivineetha/Documents/MIDS/W200Python/PythonRoughWork/Project_2/files/inp_cohort_aggr.csv")
outp_aggr = pd.read_csv("/Users/nalinivineetha/Documents/MIDS/W200Python/PythonRoughWork/Project_2/files/outp_cohort_aggr.csv")

In [44]:
#now merge beneficiary, carrier claims, inpatient and outpatient by left join 
bene_car_df = pd.merge(bene_hospice_aggr, car_aggr, on='DESYNPUF_ID', how = 'left')
bene_car_inp_df = pd.merge(bene_car_df, inp_aggr, on='DESYNPUF_ID', how = 'left')
bene_car_inp_outp_df = pd.merge(bene_car_inp_df, outp_aggr, on='DESYNPUF_ID', how = 'left')
#should've differentiated inpatient and outpatient columns while creating those dataframes. Ah well!
bene_car_inp_outp_df = bene_car_inp_outp_df.rename(columns= {'CLM_ID_count_x': 'car_CLM_ID_count',
                                                            'CLM_ID_count_y': 'inp_CLM_ID_count',
                                                            'CLM_PMT_AMT_sum_x': 'inp_CLM_PMT_AMT_sum',
                                                            'NCH_PRMRY_PYR_CLM_PD_AMT_sum_x': 'inp_NCH_PRMRY_PYR_CLM_PD_AMT_sum',
                                                            'CLM_ID_count': 'outp_CLM_ID_count',
                                                            'CLM_PMT_AMT_sum_y': 'outp_CLM_PMT_AMT_sum',
                                                            'NCH_PRMRY_PYR_CLM_PD_AMT_sum_y':'outp_NCH_PRMRY_PYR_CLM_PD_AMT_sum'})

In [47]:
# Now check whether he actually availed hospice - by looking for inp/outp claims 
bene_car_inp_outp_df['HOSPICE_FLAG'] = np.where((bene_car_inp_outp_df['car_CLM_ID_count'] > 0)
                                 |(bene_car_inp_outp_df['inp_CLM_ID_count'] > 0)
                                 |(bene_car_inp_outp_df['outp_CLM_ID_count'] > 0)
                                 ,1,0)

In [13]:
bene_car_inp_outp_df.head()
print(bene_car_inp_outp_df.groupby('BENE_SEX_IDENT_CD_max').DESYNPUF_ID.count())
print(bene_car_inp_outp_df.groupby('BENE_RACE_CD_max').DESYNPUF_ID.count())

BENE_SEX_IDENT_CD_max
1    350009
2    465993
Name: DESYNPUF_ID, dtype: int64
BENE_RACE_CD_max
1    688522
2     80409
3     29826
5     17245
Name: DESYNPUF_ID, dtype: int64

In [48]:
#Now add state names
us_state_df = pd.read_csv("/Users/nalinivineetha/Documents/MIDS/W200Python/PythonRoughWork/Project_2/files/us_states_codes.csv")
us_state_df.head()
bene_car_inp_outp_state_df = pd.merge(bene_car_inp_outp_df, us_state_df, on='SP_STATE_CODE_max')

#Now fill NaNs with 0
values = {'car_CLM_ID_count':0, 'NCH_PMT_AMT_sum': 0, 'inp_CLM_ID_count': 0, 'inp_CLM_PMT_AMT_sum': 0, 'outp_CLM_ID_count': 0}
bene_car_inp_outp_state_df.fillna(value=values,inplace=True)
bene_car_inp_outp_state_df.head()

df_write_csv(bene_car_inp_outp_state_df,"/Users/nalinivineetha/Documents/MIDS/W200Python/PythonRoughWork/Project_2/files/bene_car_inp_outp_state_df.csv")

In [59]:
#Now add the county indicator 
us_state_county_df = pd.read_csv("/Users/nalinivineetha/Documents/MIDS/W200Python/PythonRoughWork/Project_2/files/us_states_county_codes.txt")
us_state_county_df.head()
us_state_county_df['BENE_COUNTY_CD_max'] = us_state_county_df['BENE_COUNTY_CD_max'].apply(str)

#bene_car_inp_outp_state_df = pd.merge(bene_car_inp_outp_df, us_state_df, on='SP_STATE_CODE_max')
us_state_county_df.dtypes

County_name               object
County_State_name         object
BENE_COUNTY_CD_max        object
FIPS_State_county_code     int64
dtype: object

In [62]:
# Merge county into bene_car_inp_outp_state_df 

def convert_state_cd(s):
    
    if int(s/10) == 0:
        
        return '0'+str(s)
    else:
        return str(s)
    
def get_3digit_county_cd(s):
    
    if int(s/10) == 0:
        
        return '00'+str(s)
    elif int(s/100) == 0:
        
        return '0'+str(s)
    else:
        return str(s)
    
print(convert_state_cd(1))
print(convert_county_cd(1))

#BENE_COUNTY_CD_max

def get_3digit_county_cd(s):
    
    return convert_county_cd(s)


bene_car_inp_outp_state_df['STR_COUNTY_CD'] = bene_car_inp_outp_state_df['BENE_COUNTY_CD_max'].apply(get_3digit_county_cd)

bene_car_inp_outp_state_df['SSA_COUNTY_CD'] = bene_car_inp_outp_state_df['SP_STATE_CODE_max'].apply(str)+bene_car_inp_outp_state_df['STR_COUNTY_CD']
bene_car_inp_outp_state_df.head(100)

01
001

,DESYNPUF_ID,BENE_BIRTH_DT_max,BENE_DEATH_DT,BENE_SEX_IDENT_CD_max,BENE_RACE_CD_max,SP_STATE_CODE_max,BENE_COUNTY_CD_max,BENE_HI_CVRAGE_TOT_MONS_max,BENE_SMI_CVRAGE_TOT_MONS_max,BENE_COUNT_OCCURENCE,...,inp_NCH_PRMRY_PYR_CLM_PD_AMT_sum,CLM_UTLZTN_DAY_CNT_sum,outp_CLM_ID_count,outp_CLM_PMT_AMT_sum,outp_NCH_PRMRY_PYR_CLM_PD_AMT_sum,HOSPICE_FLAG,SP_State_iso2a,SP_State_full_name,STR_COUNTY_CD,SSA_COUNTY_CD
0,00000B48BCF4AD29,1923-09-01,NaT,2,5,10,260,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,260,10260
1,0003F63CD84E54A3,1932-07-01,NaT,2,1,10,470,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,470,10470
2,00045BB8F4C922A3,1934-06-01,NaT,1,5,10,50,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,050,10050
3,0004FB2ED3823AA8,1941-06-01,NaT,2,1,10,340,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,340,10340
4,0005EC02F1DC3A15,1937-12-01,NaT,1,1,10,120,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,120,10120
5,000763E4F5D8EB5D,1923-07-01,NaT,1,1,10,310,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,310,10310
6,000960C9E1C43BE4,1930-09-01,NaT,2,1,10,170,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,170,10170
7,000968ABCF115E74,1922-07-01,NaT,1,1,10,50,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,050,10050
8,00098CF15837D918,1919-08-01,NaT,1,1,10,120,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,120,10120
9,0009BB1F106B8879,1920-06-01,NaT,2,1,10,0,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,000,10000
10,000A69B545F952D2,1941-10-01,2009-06-01,1,1,10,570,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,570,10570
11,000C14F98757DBA2,1973-07-01,NaT,2,1,10,40,12,12,2,...,NaN,NaN,0.0,NaN,NaN,1,FL,Florida,040,10040
12,000CEA78F07CF413,1936-09-01,NaT,2,1,10,110,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,110,10110
13,000D32383853B9C2,1928-12-01,NaT,1,5,10,50,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,050,10050
14,000F731437627108,1937-09-01,NaT,2,2,10,50,12,12,3,...,NaN,NaN,1.0,30.0,0.0,1,FL,Florida,050,10050
15,00108FE40FB5DB14,1940-04-01,NaT,2,1,10,460,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,460,10460
16,001179BF6C6FE373,1931-07-01,NaT,2,1,10,340,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,340,10340
17,00118D7F56E07445,1933-03-01,NaT,1,1,10,580,12,12,2,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,580,10580
18,00139C345A104F72,1922-10-01,NaT,2,1,10,150,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,150,10150
19,0014454FDDD7D503,1941-11-01,NaT,2,1,10,570,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,570,10570
20,0015D87257B8D023,1942-04-01,NaT,1,1,10,40,12,12,2,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,040,10040
21,001634033AEA61D0,1938-09-01,NaT,1,1,10,150,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,150,10150
22,0016E790635D1454,1935-01-01,2008-09-01,1,2,10,510,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,510,10510
23,001752EADFB6FAB3,1931-08-01,NaT,2,1,10,310,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,310,10310
24,001767A97BC3507A,1920-12-01,NaT,1,1,10,490,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,490,10490
25,0017C2E692D16C4B,1940-06-01,NaT,1,3,10,150,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,150,10150
26,001833F3EF7BBFCB,1933-04-01,NaT,1,1,10,360,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,360,10360
27,001AE2B201D8B7C9,1928-12-01,NaT,1,1,10,350,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,350,10350
28,001B6E702A305FD3,1942-03-01,NaT,2,1,10,630,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,630,10630
29,001C9189C5EF8089,1935-10-01,2008-07-01,2,1,10,630,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,630,10630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,004294F34DE4C183,1922-12-01,NaT,2,1,10,520,12,12,2,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,520,10520
71,0044E599C4A33421,1944-10-01,NaT,1,1,10,490,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,490,10490
72,0045ED12AB25D30E,1941-03-01,NaT,1,2,10,490,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,490,10490
73,0046020E72E1CBFD,1936-01-01,NaT,2,1,10,470,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,470,10470
74,004627337321C1AD,1925-07-01,NaT,1,1,10,410,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,410,10410
75,0046B10B97A60B14,1927-05-01,NaT,2,5,10,410,12,12,2,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,410,10410
76,0046E817D8E11D84,1935-01-01,NaT,2,1,10,480,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,480,10480
77,0048DCDF02EA305B,1909-09-01,NaT,1,1,10,120,12,12,2,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,120,10120
78,00498540C283A2B4,1931-10-01,NaT,2,1,10,120,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,120,10120
79,004A2BA677D58FAE,1943-12-01,NaT,2,1,10,520,12,12,3,...,NaN,NaN,0.0,NaN,NaN,1,FL,Florida,520,10520
80,004A32D3BC6E1161,1925-05-01,NaT,1,1,10,490,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,490,10490
81,004BC69CC537F221,1943-03-01,NaT,1,2,10,150,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,150,10150
82,004C054E08584DC4,1916-01-01,NaT,1,1,10,500,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,500,10500
83,004FC502F8DB9AF5,1935-11-01,NaT,1,1,10,350,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,350,10350
84,005053B7D71942F0,1918-06-01,NaT,2,1,10,120,12,12,3,...,NaN,NaN,1.0,10.0,0.0,1,FL,Florida,120,10120
85,00509D260E9DAF73,1924-05-01,NaT,2,1,10,490,12,12,2,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,490,10490
86,0052EC120ACD8D81,1941-08-01,NaT,2,2,10,570,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,570,10570
87,0055BCF4C2626716,1939-04-01,NaT,2,1,10,350,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,350,10350
88,00573011CFF2ABDB,1939-11-01,NaT,2,1,10,340,12,12,2,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,340,10340
89,0059E368749C4C0B,1923-06-01,NaT,1,2,10,120,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,120,10120
90,005DC3C210F6B317,1943-02-01,NaT,2,1,10,480,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,480,10480
91,005DE1E1EC393B04,1914-11-01,NaT,2,1,10,0,12,12,2,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,000,10000
92,005E04C13AAF9425,1960-11-01,NaT,2,5,10,490,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,490,10490
93,005EA764F50F6FCE,1920-04-01,NaT,2,3,10,660,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,660,10660
94,005F9F9A92579FA3,1946-07-01,2009-08-01,2,3,10,350,12,12,2,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,350,10350
95,0061D086C64942BF,1930-08-01,NaT,2,1,10,150,12,12,3,...,NaN,NaN,0.0,NaN,NaN,1,FL,Florida,150,10150
96,006220316BE30830,1931-01-01,NaT,2,1,10,570,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,570,10570
97,0065270F6EEC655E,1940-12-01,NaT,2,1,10,120,12,12,1,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,120,10120
98,006560DAD7F63825,1929-10-01,NaT,2,1,10,150,12,12,2,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,150,10150
99,006920647BC26AF1,1949-07-01,2010-02-01,2,1,10,40,12,12,3,...,NaN,NaN,0.0,NaN,NaN,0,FL,Florida,040,10040

In [63]:
#bene_car_inp_outp_state_df.dtypes
bene_car_inp_outp_state_county_df = pd.merge(bene_car_inp_outp_state_df, us_state_county_df, left_on='SSA_COUNTY_CD', right_on='BENE_COUNTY_CD_max', how = 'left')
#left_on='county_ID', right_on='countyid'

In [64]:
#Now add hospice indicator 
bene_car_inp_outp_state_county_df['HOSPICE_FLAG'] = np.where((bene_car_inp_outp_state_county_df['car_CLM_ID_count'] > 0)
                                 |(bene_car_inp_outp_state_county_df['inp_CLM_ID_count'] > 0)
                                 |(bene_car_inp_outp_state_county_df['outp_CLM_ID_count'] > 0)
                                 ,1,0)

In [23]:
# Total beneficiary and hospice beneficiary numbers by state
bene_country_group_by = (bene_car_inp_outp_state_df.groupby('SP_State_full_name').agg(
    {
     'DESYNPUF_ID':'count',
     'HOSPICE_FLAG':'sum'
    }
    )
             .reset_index()
             .rename(columns={'DESYNPUF_ID':'DESYNPUF_ID_count',
                              'HOSPICE_FLAG':'HOSPICE_FLAG_sum'
                             }))

bene_country_group_by['percent_hospice'] = bene_country_group_by['HOSPICE_FLAG_sum']/bene_country_group_by['DESYNPUF_ID_count']

df_write_csv(bene_country_group_by,"/Users/nalinivineetha/Documents/MIDS/W200Python/PythonRoughWork/Project_2/files/beneficiary/bene_hospice_cohort_country_groupby.csv")